.parent {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
}

.profile {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-areas: "pic pic in in in in"
                         "pic pic in in in in"
                         "pic pic in in in in"
                         "pic pic in in in in"
                         "pic pic in in in in"
                         "pic pic in in in in";
    width: 500px;
    max-width: 100%;
    border: 15px solid white;
}

img {
    max-width: 100%;
}

.image {
    grid-area: pic;
}

.info {
    grid-area: in;
}

.info h2 {
    color: white;
    margin-left: 20px;
}

.info p {
    margin-left: 20px;
    color: hsla(0, 0%, 100%, 0.8);
    line-height: 1.8rem;
}