{% extends 'base.html' %}
{% block head %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" 
          integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" 
          crossorigin="anonymous"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/register.css') }}">
    <title>Home</title>
{% endblock %}
{% block content %}
    <div class="container">
        <h2>Sign up for an account!</h2>
        <form action="/register" method="POST">
            <label for="username">Username</label>
            <input type="text" name="username" id="username" placeholder="Enter Your Username" required>
            <label for="password">Password</label>
            <input type="password" name="password" id="password" placeholder="Enter Your Password" required>
            <label for="email">Enter Your Email</label>
            <input type="email" name="email" id="email" placeholder="Enter Your Email" required>
            <label for="first_name">First Name</label>
            <input type="text" name="first_name" id="first_name" placeholder="Enter Your First Name" required>
            <label for="last_name">Last Name</label>
            <input type="text" name="last_name" id="last_name" placeholder="Enter Your Last Name" required>
            <button type="submit" class="btn-register">Register Now</button>
        </form>
    </div>
{% endblock %}